<div *ngIf="loaderService.isLoading | async" class="loader-container">
    <mat-progress-bar class="mat-progress-bar" mode="indeterminate" color="warn"></mat-progress-bar>
</div>
<div class="search-container">
    <form class="search-form" #form="ngForm" (ngSubmit)="onSubmit(form)">
        <img  class="logo-app"
                 src="assets/images/logoNoTxt.png"
                 routerLink="/"               />
        <span class="logo" routerLink="/">VG-Center</span>
        <input class="search-input"
        name="search" ngModel placeholder="Search 500,000+ games" />
        <button class="search-button">Search</button>
    </form>
</div>